---
import Layout from '../layouts/Layout.astro';

import About from '../components/About.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Project from '../components/Project.astro';
import Skills from '../components/Skills.astro';


---

<Layout title="Minimalist Portfolio">
	<main>
		<Hero/>
		<About/>
		<Experience/>
		<Education/>
		<Project/>
		<Skills/>
	</main>
</Layout>

<style>
	main{
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
